
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

 body, html {
      font-family: Arial, sans-serif;
      scroll-behavior: smooth;
       overflow-x: hidden;
      background-color: white;
    }
  
section {
  width: 100%;
}


.nav-section{
    position:fixed;
    top:0;
    width:100%;
    background:rgba(12,14,80,0.96);
    backdrop-filter:blur(6px);
    z-index:999;
}

.navbar{
    max-width:1250px;
    margin:auto;
    padding:12px 24px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo img{
    height:52px;
    transition:transform .3s ease;
}

.logo img:hover{
    transform:scale(1.05);
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:32px;
}

.navbar ul li a{
    color:#fff;
    font-weight:500;
    position:relative;
    padding:4px 0;
}


.navbar ul li a:hover{
    color:#f9c74f;
}

.RequestQuote{
    background:#f9c74f;
    color:#000;
    padding:6px 8px;
    display: inline flex;
    border-radius:7px;
    font-weight:500;
    cursor:pointer;
    transition:all .35s ease;
}

.RequestQuote:hover{
    background:#ffd86b;
    transform:translateY(-2px);
    box-shadow:0 10px 25px rgba(0,0,0,.25);
}

.RequestQuote a{
  color: #000;
  display: inline-flex;
  align-items: center;
}

.nav-left img {
  height: 45px;
}



.nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;

  
}

.nav-menu li a:hover {
  color: #ffd700;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}



.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  background: linear-gradient(135deg, #0b0b1e, #03396b);
  color: #ffffff;

   padding: 120px 20px;
  flex-wrap: wrap;

}

.hero-content {
  flex: 1 1 500px;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 44px;
  line-height: 1.25;
  margin-bottom: 16px;

}

.hero-content p {
  font-size: 16px;
  opacity: 0.9;
  line-height: 25px;
  margin-bottom: 32px;
}


.hero-buttons {
  display: flex;
  gap: 16px;
}

.btn {
  padding: 12px 26px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.3px;
  transition: all 0.3s ease;
}

.btn.primary {
  background: #7b2cff;
  color: #fff;
}

.btn.secondary {
  border: 1px solid #aaa;
  color: #fff;
}

.btn.primary:hover {
  background: #5a1acc;
  transform: translateY(-2px);
}

.btn.secondary:hover {
  background: rgba(255, 255, 255, 0.08);
  transform: translateY(-2px);
}


.hero-image {
   max-width: 500px;
  width: 100%;
   flex: 1 1 400px;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

/* ===== HERO IMAGE ===== */
.hero-image img {
 width: 100%;
  height: auto; 
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.hero-image img:hover {
  transform: scale(1.05);
}






.about{
    padding:120px 20px;
    background:#0b0b0b;
    color:#fff;
}

.about-wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:80px;
    flex-wrap:wrap;
}

.about-image{
   flex: 1 1 450px;
  min-width: unset;
}

.about-image img{
    width:100%;
    border-radius:20px;
    box-shadow:0 20px 50px rgba(0,0,0,0.5);
}

.about-content{
    flex:1;
    min-width:350px;
}

.about-content h4{
    color:#D4AF37;
    letter-spacing:3px;
    margin-bottom:15px;
}

.about-content h1{
    font-size:48px;
    margin-bottom:30px;
    line-height:1.3;
}

.about-content p{
    color:#ccc;
    line-height:1.9;
    margin-bottom:25px;
    font-size:17px;
}

.about-boxes{
    display:flex;
    gap:30px;
    margin:40px 0;
    flex-wrap:wrap;
}

.box{
    background:#151515;
    padding:30px;
    border-radius:15px;
    flex:1;
    min-width:250px;
    transition:0.3s;
}

.box h3{
    color:#D4AF37;
    margin-bottom:15px;
}

.box:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 40px rgba(212,175,55,0.3);
}

.about-stats{
    display:flex;
    gap:40px;
    margin-bottom:40px;
    flex-wrap:wrap;
}

.stat h2{
    color:#D4AF37;
    font-size:40px;
}

.stat span{
    font-size:15px;
    color:#aaa;
}

.about-btn{
    display:inline-block;
    padding:15px 40px;
    background:#D4AF37;
    color:#000;
    text-decoration:none;
    font-weight:600;
    border-radius:40px;
    transition:0.3s;
}

.about-btn:hover{
    background:#fff;
}






.Our-service {
  background: radial-gradient(circle at top, #09000f, #2e1569);
  padding: 80px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  justify-content: center;   
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
}


.Our-service h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}


.Our-service > div {
  background: linear-gradient(145deg, #1b0f2d, #12081f);
  padding: 28px 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 25px rgba(128, 90, 213, 0.18);
  transition: 0.35s ease;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.Our-service > div:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 35px rgba(255, 78, 205, 0.35);
}

.Our-service img {
  width: 85px;
  margin-bottom: 28px;
}


.Our-service h2 {
  font-size: 20px;
  margin-bottom: 10px;
}


.Our-service p {
  font-size: 14px;
  line-height: 1.6;
  color: #cfcfe9;
}





.Our-Portfolio {
  padding: 80px 20px;
  background: #f9f9ff;
  font-family: "Segoe UI", sans-serif;
  color: #222;
}


.Our-Portfolio h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #5a1acc;
  margin-bottom: 15px;
}


.Our-Portfolio p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 14px;
  color: #444;
}


.Our-Portfolio h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #7b2cff;
  border-left: 4px solid #7b2cff;
  padding-left: 10px;
}


.Our-Portfolio h5 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #666;
}


.Our-Portfolio h2:hover {
  color: #ff4ecd;
  transition: 0.3s ease;
}



 
.Portfolio-button {
 color: rgb(164, 149, 11);
  grid-column: 1 / -1;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
  
} 
.btn.primary{
  background: #7b2cff;
  color: white;
 cursor: pointer;
 margin-right: 10px;
 border-radius: 12px; 
}
.btn.secondary{
  background: #252328;
  color: white;
  border-radius: 0%;
 cursor: pointer;
 margin-right: 10px;
 border-radius: 12px;
}
.btn.secondary:hover {
  background: #0f0000;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  transform-style: flat;

}
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.video-box {
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.video-box iframe {
  width: 100%;
  height: 220px;
  border: none;
}





.our-vdo:hover {
  transform: scale(1.08);
  box-shadow: 0 15px 40px rgba(138, 43, 226, 0.6);
}



.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #0b0b1e, #24336a);
  color: white;
}

.stat-box {
  text-align: center;
}

.stat-box .icon {
  font-size: 28px;
  display: block;
  margin-bottom: 8px;
}
.stat-box:hover .icon {
  color: #ff4ecd;
  transform: scale(1.2);
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
.stat-box:hover h3 {
  color: #ff4ecd;
  transform: scale(1.2);
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.stat-box h3 {
  font-size: 26px;
  margin: 0;
  color: #9b5cff;
}

.stat-box p {
  font-size: 14px;
  opacity: 0.8;
}



.testimonials {
  padding: 80px 20px;
  background: linear-gradient(135deg, #0b0b1e, #1a0835);
  color: #fff;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.testimonials h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(300px * 20);
  animation: scroll 35s linear infinite;
}

.testimonial-card {
  width: 300px;
  background: #fff;
  color: #333;
  padding: 25px;
  margin-right: 20px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.testimonial-card p {
  font-size: 15px;
  line-height: 1.6;
}

.testimonial-card h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.testimonial-card span {
  font-size: 13px;
  color: #777;
}

 
.testimonials {
  padding: 80px 5%;
  background: linear-gradient(135deg, #0b0b1e, #1a0835);
  color: #fff;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.testimonials h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(300px * 20);
  animation: scroll 35s linear infinite;
}

.testimonial-card {
  width: 300px;
  background: #fff;
  color: #333;
  padding: 25px;
  margin-right: 20px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.testimonial-card p {
  font-size: 15px;
  line-height: 1.6;
}

.testimonial-card h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.testimonial-card span {
  font-size: 13px;
  color: #777;
}

 
.testimonials {
  padding: 80px 5%;
  background: linear-gradient(135deg, #0b0b1e, #1a0835);
  color: #fff;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.testimonials h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(300px * 20);
  animation: scroll 35s linear infinite;
}

.testimonial-card {
  width: 300px;
  background: #fff;
  color: #333;
  padding: 25px;
  margin-right: 20px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.testimonial-card p {
  font-size: 15px;
  line-height: 1.6;
}

.testimonial-card h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.testimonial-card span {
  font-size: 13px;
  color: #777;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

.whatsapp-float {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  width: 48px;
  height: 48px;
  background: #07e759;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 9999;

  transition: all 0.3s ease;
}

.whatsapp-float img {
  width: 24px;
  height: 24px;
}

.whatsapp-float:hover {
  background: #1ebe5d;
  transform: translateY(-50%) scale(1.1);
}




.footer{
    background:#080a3a;
    color:#ddd;
    padding:20px 20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:50px;
    line-height: 25px;
}

.footer h2{
    color:#fff;
}

.footer p a:hover{
    color:#f9c74f;
}

.last-footter{
    background:#050628;
    color:#aaa;
    text-align:center;
    padding:16px;
}
.logos img{
    height: 20%;
}


.contact-sec img{
    width:26px;
   border-radius: 6px;
}
.contact-sec a{
    display: inline-flex;
   padding: 3px;
}
a{
    text-decoration: none;
    color: #fff;
}

@media (max-width: 768px){

  .hero{
    flex-direction: column;
    text-align: start;
    
  }

  .hero-content{
    max-width:100%;
  }

  .about-wrapper{
    flex-direction: column;
    gap:40px;
  }

  .stats{
    flex-direction: row;
    gap:20px;
  }

  .footer{
    grid-template-columns: 1fr;
    text-align:start;
  }

}
img, iframe {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}
@media (max-width: 768px){

  .navbar{
    flex-wrap: wrap;
  }
  .hero-content h1{
    padding-top: 20px;
  }

  .navbar ul{
    flex-wrap: wrap;
    justify-content:center;
    gap:15px;
  }

}
