
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

 body {
      font-family: Arial, sans-serif;
      scroll-behavior: smooth;
       overflow-x: hidden;
      background-color: white;
    }
  
section {
  width: 100%;
}


.nav-section{
    position:fixed;
    top:0;
    width:100%;
    background:rgba(12, 53, 80, 0.96);
    backdrop-filter:blur(6px);
    z-index:999;
}


.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 2px;
  background-color: rgba(2, 248, 232, 0.966);
  transition: width 0.3s ease;
}


.nav a:hover::after {
  width: 100%;
}


.navbar{
    max-width:1250px;
    margin:auto;
    padding:12px 25px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo img{
    height:52px;
    transition:transform .3s ease;
   
}

.logo img:hover{
    transform:scale(1.05);
     box-shadow:0px 2px 15px 6px rgba(2, 248, 232, 0.966);
     border-radius: 5px;
     transition: all 1s ease;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:32px;
    padding: 14px;

}

.navbar ul li a{
    color:#fff;
    font-weight:600;
    position:relative;
    padding:4px 0;
}


.navbar ul li a:hover{
    color: rgba(2, 248, 232, 0.966);
}

.RequestQuote {
  position: relative;
  display: inline-flex;
  align-items: center;
  background: white;    
  padding:8px 10px;
  border-radius:7px;
  font-weight:500;
  cursor:pointer;          
  overflow: hidden;
  cursor: pointer;
}

.RequestQuote img {
  width:20px;
  height: 20px;
  position: relative;
  z-index: 1;
}

.RequestQuote a {
  
   color: black;
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  position: relative;
  z-index: 1;
}


.RequestQuote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgba(2, 248, 232, 0.966);
  transition: width 0.4s ease;
  z-index: 0;
}


.RequestQuote:hover::before {
  width: 100%;
}





/*
.RequestQuote{
    background:#f9c74f;
    color:#000;
    padding:6px 8px;
    display: inline flex;
    border-radius:7px;
    font-weight:500;
    cursor:pointer;
    transition:all .35s ease;
}

.RequestQuote:hover{
    background:#ffd86b;
    transform:translateY(-2px);
    box-shadow:0 10px 25px rgba(0,0,0,.25);
}

.RequestQuote a{
  color: #000;
  display: inline-flex;
  align-items: center;
}

.nav-left img {
  height: 45px;
}



.nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;

  
}

.nav-menu li a:hover {
  color: #ffd700;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

*/



.hero {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background: linear-gradient(135deg, #284656, #0579ab);
  color: #ffffff;
  padding: 120px 8%;
  flex-wrap: wrap;
}



.hero-content {
  flex: 1 1 500px;
  max-width: 600px;

}


.hero-content h1 {
  padding-top: 20px;
  font-size: 44px;
  line-height: 1.25;
  margin-bottom: 16px;
  color: #F8FAFC;

}


.hero-content p {
  font-size: 16px;
  opacity: 0.9;
  line-height: 25px;
  margin-bottom: 32px;
  color: #E2E8F0;
}


.hero-buttons {
  display: flex;
  gap: 16px;
}


.btn {
  padding: 12px 26px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.3px;
  transition: all 0.3s ease;
}



.btn.secondary {
  border: 1px solid #aaa;
  color: #fff;
}


.btn.primary:hover {
  background: #059be1;
  transform: translateY(-2px);
}


.btn.secondary:hover {
  background: rgba(79, 28, 28, 0.08);
  transform: translateY(-2px);
}


.btn.primary{
  background: rgba(2, 248, 232, 0.966);
  color: black;
 cursor: pointer;
 margin-right: 10px;
 border-radius: 12px; 
}


.btn.secondary{
  background: #252328;
  color: white;
  border-radius: 0%;
 cursor: pointer;
 margin-right: 10px;
 border-radius: 12px;
}


.btn.secondary:hover {
  background: #0f0000;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  transform-style: flat;
}



.hero-image {
   max-width: 500px;
  width: 100%;
   flex: 1 1 400px;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow:0px 8px 50px rgba(2, 248, 232, 0.966);
}


.hero-image:hover{
   box-shadow:0px 8px 50px rgba(248, 2, 39, 0.966);
   transition: all 1s ease;
}


.hero-image img {
 width: 100%;
  height: auto; 
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.4s ease;
  animation: imageChange 48s infinite ease-in-out;
}

.hero-image img:hover {
  transform: scale(1.05);
 
}

@keyframes imageChange {
  0%   { content: url("./pic/aviv-rachmadian-gbMHENeHYZw-unsplash.jpg"); }
  5%   { content: url("./heroImg/hero-img2.png"); }
  10%  { content: url("./heroImg/hero-img3.png"); }
  15%  { content: url("./pic/collabstr-9qD8AbQyj5w-unsplash.jpg"); }
  20%  { content: url("./pic/collabstr-tM4WLjUvIcY-unsplash.jpg"); }
  25%  { content: url("./pic/abin-james-x75kEKa6a0o-unsplash.jpg"); }
  30%  { content: url("./pic/andres-n3CmR46CTak-unsplash (1).jpg"); }
  35%  { content: url("./pic/aviv-rachmadian-5fZqHF21CIw-unsplash.jpg"); }
  40%  { content: url("./pic/felicia-montenegro-Hz0bdIXrF2Y-unsplash.jpg"); }
  45%  { content: url("./pic/jose-aljovin-uDGL-z_hZnY-unsplash.jpg"); }
  50%  { content: url(""); }
  55%  { content: url("./pic/martin-pechy-iXHdGk8JVYU-unsplash.jpg"); }
  60%  { content: url("./heroImg/hero-img3.png"); }
  65%  { content: url("./pic/max-bvp-uJGKkcNEu04-unsplash.jpg"); }
  70%  { content: url("./pic/phil-desforges-oQd5dwDWu_8-unsplash.jpg"); }
  75%  { content: url("./pic/rodrigo-rodrigues-wolf-r-t-UqmCluzSq-E-unsplash.jpg"); }
  80%  { content: url("./pic/sayan-majhi-Ytq3Gg94BO4-unsplash.jpg"); }
  90%  { content: url("./pic/theregisti-seyirRWuyiw-unsplash.jpg"); }
  100% { content: url("./pic/theregisti-seyirRWuyiw-unsplash.jpg"); }
}





.about{
    padding:120px 8%;
    background:#0b0b0b;
    color:#fff;
}

.about h1:hover{
   
    color:rgba(2, 248, 232, 0.966);
    transition: 1s ease all;
}

.about p:hover{
    color:rgba(2, 248, 232, 0.966);
    transition: 1s ease all;

}

.about-wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:80px;
    flex-wrap:wrap;
}

.about-image{
    flex:1;
    min-width:350px;
}

.about-image img{
    width:100%;
    border-radius:20px;
   box-shadow:0px 7px 50px  rgba(2, 248, 232, 0.966);
}


.about-image img:hover{
    box-shadow:0 20px 50px rgba(248, 2, 39, 0.966);
    transition: all 1s ease;
}

.about-content{
    flex:1;
    min-width:350px;
}

.about-content h4{
    color:rgba(2, 248, 232, 0.966);
    letter-spacing:3px;
    margin-bottom:15px;
}

.about-content h1{
    font-size:48px;
    margin-bottom:30px;
    line-height:1.3;
}

.about-content p{
    color:#ccc;
    line-height:1.9;
    margin-bottom:25px;
    font-size:17px;
}

.about-boxes{
    display:flex;
    gap:30px;
    margin:40px 0;
    flex-wrap:wrap;
}

.box{
    background:#151515;
    padding:30px;
    border-radius:15px;
    flex:1;
    min-width:250px;
    transition:0.3s;
}

.box h3{
    color:rgba(2, 248, 232, 0.966);
    margin-bottom:15px;
}

.box:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 20px rgba(2, 248, 232, 0.966);
    transition: all 1s ease;
}

.about-stats{
    display:flex;
    gap:40px;
    margin-bottom:40px;
    flex-wrap:wrap;
}

.stat h2{
    color:rgba(2, 248, 232, 0.966);
    font-size:40px;
}

.stat span{
    font-size:15px;
    color:#aaa;
}

.about-btn{
    display:inline-block;
    padding:15px 40px;
    background:rgba(2, 248, 232, 0.966);
    color:#000;
    text-decoration:none;
    font-weight:600;
    border-radius:40px;
    transition:0.3s;
}

.about-btn:hover{
    background:#fff;
}



.about-boxes div::before { 
content: "";
position: absolute;
inset: 0;
border: 2px solid rgba(2, 248, 232, 0.966); border-radius: 15px; 
transform: scale(0); 
transition: transform 0.3s ease; 

}

.about-boxes div:hover::before { 
  transform: scale(1);
  transition: all 0.9s ease;

}


.Our-service {
  background: radial-gradient(circle at top, #09000f, #2e1569);
  padding: 80px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  justify-content: center;   
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
}


.Our-service h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}


.Our-service > div {
  background: linear-gradient(145deg, #1b0f2d, #12081f);
  padding: 28px 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 25px rgba(128, 90, 213, 0.18);
  transition: 0.35s ease;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.Our-service > div:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 35px rgba(2, 248, 232, 0.966);
  transition: all 0.9s ease;
}

.Our-service img {
  width: 85px;
  margin-bottom: 28px;
}


.Our-service h2 {
  font-size: 20px;
  margin-bottom: 10px;
}


.Our-service p {
  font-size: 14px;
  line-height: 1.6;
  color: #cfcfe9;
}


.Our-service div {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
}

.Our-service div img {
  width: 80px;
  transition: transform 0.4s ease;
}


.Our-service div:hover img {
  transform: scale(1.1);
}


.Our-service div::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid rgba(2, 248, 232, 0.966);;
  border-radius: 12px;
  transform: scale(0);
  transition: transform 0.4s ease;
}

.Our-service div:hover::before {
  transform: scale(1);
  transition: all 0.9s ease;
}





.ex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
  cursor: pointer;
}

.video-box {
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.video-box iframe {
  width: 100%;
  height: 180px;
  border: none;
}



.poster {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
  cursor: pointer;
}

.pImg {
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.pImg img {
  width: 100%;
  height: 180px;
  border: none;
}


.kreater {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
    cursor: pointer;
}

.kImg {
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    transition: all 0.4s ease;
}

.kImg img {
  width: 100%;
  height: 180px;
  border: none;
 transition: all 0.4s ease;
  
}

.kreater div:hover{
transform: scale(1.1);
box-shadow: 0 10px 30px rgba(228, 7, 7, 0.875);

}





.Rel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
  cursor: pointer;
}

.Rel-box {
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.Rel-box iframe {
  width: 100%;
  height: 180px;
  border: none;
}





.poster div::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid rgba(2, 248, 232, 0.966);
  border-radius: 12px;
  transform: scale(0);
  transition: transform 0.4s ease;
}

.poster div:hover::before {
  transform: scale(1);
  transition: all 0.9s ease;
}

.poster div:hover {
  transform: scale(1.08);
   box-shadow: 0 0 35px rgba(2, 248, 232, 0.966);
  transition: transform 0.4s ease;
}



/*
.ex div::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid rgba(248, 2, 137, 0.966);;
  border-radius: 12px;
  transform: scale(0);
  transition: transform 0.4s ease;
}

.ex div:hover::before {
  transform: scale(1);
  transition: all 0.9s ease;
}

.ex div:hover {
  transform: scale(1.08);
   box-shadow: 0 15px 40px rgba(138, 43, 226, 0.6);
  transition: transform 0.4s ease;
}



.kreater div::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid rgba(248, 2, 137, 0.966);;
  border-radius: 12px;
  transform: scale(1);
  transition: transform 0.4s ease;
}

.kreater div:hover::after {
  transform: scale(1);
  transition: all 0.9s ease;
}

.kreater div:hover {
  transform: scale(1.08);
   box-shadow: 0 15px 40px rgba(138, 43, 226, 0.6);
  transition: transform 0.4s ease;
}

*/


/*

.Rel div::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid rgba(248, 2, 137, 0.966);;
  border-radius: 12px;
  transform: scale(1.8);
  transition: transform 0.4s ease;
}

.Rel div:hover::before {
  transform: scale(1);
  transition: all 0.9s ease;
  
}

.Rel div:hover {
  transform: scale(1.08);
   box-shadow: 0 15px 40px rgba(138, 43, 226, 0.6);
  transition: transform 0.4s ease;
}


*/


.Our-Portfolio {
  padding: 80px 90px;
 background: linear-gradient(135deg, #0b0b1e, #1a0835);
  font-family: "Segoe UI", sans-serif;
  
}


.Our-Portfolio h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #ff4ecd;
  margin-bottom: 15px;
}


.Our-Portfolio p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 14px;
  color: white;
}




.Our-Portfolio h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #ff4ecd;
  border-left: 4px solid #7b2cff;
  padding-left: 10px;
   
}


.Our-Portfolio h5 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
  color: white;
}


.Our-Portfolio h2:hover {
  color: #ff4ecd;
  
}

 
.Portfolio-button {
 color: rgb(164, 149, 11);
  grid-column: 1 / -1;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
  
} 


.our-vdo:hover {
  transform: scale(1.08);
 box-shadow: 0 0 35px rgba(2, 248, 232, 0.966);
}

.Our-Portfolio h2 Img{
  height: 40px;
  width: 50px;
  border-radius: 5px;
  
  transition: all 1.7s ease;
}


.Our-Portfolio h2 Img:hover{
  box-shadow: 0 0 35px rgba(2, 248, 232, 0.966);
  transform: scale(5.2);
}







.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #0b0b1e, #24336a);
  color: white;
}

.stat-box {
  text-align: center;
}

.stat-box .icon {
  font-size: 28px;
  display: block;
  margin-bottom: 8px;
}
.stat-box:hover .icon {
  color: #ff4ecd;
  transform: scale(1.2);
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
.stat-box:hover h3 {
  color: #ff4ecd;
  transform: scale(1.2);
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.stat-box h3 {
  font-size: 26px;
  margin: 0;
  color: #9b5cff;
}

.stat-box p {
  font-size: 14px;
  opacity: 0.8;
}


.slide-track div::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid rgba(144, 2, 154, 0.966);;
  border-radius: 12px;
  transform: scale(0);
  
}

.slide-track div:hover::before {
  transform: scale(1);
  transition: all 0.7s ease;
}


.testimonial-card {
  width: 300px;
   background: #ffffff79;
  color: white;
  padding: 25px;
  margin-right: 20px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.testimonial-card p {
  font-size: 15px;
  line-height: 1.6;
}

.testimonial-card h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #001aff;
}

.testimonial-card span {
  font-size: 16px;
  color: rgb(81, 0, 255);
}

 
.testimonials {
  padding: 80px 5%;
  background: linear-gradient(135deg, #0b0b1e, #1a0835);
  color: #fff;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.testimonials h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.slider {
  width: 100%;
}

.slide-track {
  display: flex;
  width: calc(300px * 10);
  animation: scroll 35s linear infinite;
}
.str{
  color: yellow;
  font-weight:bold;
}




@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.slider:hover .slide-track {
  animation-play-state: paused;
  
 
}



.testimonial-card:hover {
  transform: translate(10px);
  transform: scale(1.1);
  box-shadow: 0 15px 40px rgba(138, 43, 226, 0.6);
  transition: all 0.4s ease;
}

.whatsapp-float {
  position: fixed;
  right: 20px;
  top: 90%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  background: #07e759;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}


.whatsapp-float img {
  width: 24px;
  height: 24px;
}

.whatsapp-float:hover {
  background: #1ebe5d;
  transform: translateY(-50%) scale(1.1);
}





.footer{
    background:rgba(12, 53, 80, 0.96);
    color:#ddd;
    padding:20px 20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:50px;
    line-height: 25px;
}

.footer h2{
    color:#fff;
}

.footer p a:hover{
    color:#f9c74f;
}

.last-footter{
    background:rgba(11, 35, 52, 0.96);
    color:#aaa;
    text-align:center;
    padding:16px;
}
.logos img{
    height: 20%;
}


.contact-sec img{
    width:26px;
   border-radius: 6px;
}
.contact-sec a{
    display: inline-flex;
   padding: 3px;
}
a{
    text-decoration: none;
    color: #fff;
}

@media (max-width: 768px){

  .hero{
    flex-direction: column;
    text-align: start;
    
  }

  .hero-content{
    max-width:100%;
  }

  .about-wrapper{
    flex-direction: column;
    gap:40px;
  }

  .stats{
    flex-direction: row;
    gap:20px;
  }

  .footer{
    grid-template-columns: 1fr;
    text-align:start;
  }

}
img, iframe {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}
@media (max-width: 768px){

  .navbar{
    flex-wrap: wrap;
  }
  .hero-content h1{
    padding-top: 50px;
    font-size: 30px;
  }
 

  .navbar ul{
    flex-wrap: wrap;
    justify-content:center;
    gap:15px;
  }

}

@media (max-width: 480px){
  .hero-content h1{
    font-size: 28px;
  }

 
 .about-content h1{
     font-size: 32px;
    
  }

  .hero-content h1{
    margin-top: 20px;
    font-size: 26px;

  }
}



@media (max-width: 480px){
  .hero-content h1{
    font-size: 28px;
  }
  

 .about-content h1{
     font-size: 32px;
  }

  .hero-content h1{
    margin-top: 35px;
    font-size: 20px;

  }
  .navbar ul{
  
    gap:6px;
    padding: 13px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
}

.btn {
  padding: 10px 12px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.3px;
  transition: all 0.3s ease;
}

.btn.primary {
  background: #7b2cff;
  color: #fff;
}

.btn.secondary {
  border: 1px solid #aaa;
  color: #fff;
}

.hero-content p{
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 32px;
}

.Our-Portfolio{
  padding: 40px;
}

.about-content{
padding-right: 18px;
}
.about-image{
  padding-right: 12px;
}

}